/*Обнуление START*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

ul,
ol,
li{
  list-style: none;
}

img{
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  background: #ECECEC;
}

/*Обнуление END*/

/*Подключение шрифта*/

@font-face {
  font-family: "Manrope-Regular";
  src: url(assets/src/fonts/Manrope/Manrope-Regular.ttf);
}

@font-face {
  font-family: "Manrope-Medium";
  src: url(assets/src/fonts/Manrope/Manrope-Medium.ttf);
}

* {
  font-family: "Manrope-Regular";
  color: #7f7f7f; 
}

.container{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__title h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Manrope-Medium";
}

h1, h2, span {
  -webkit-animation: blink1 5s linear infinite;
  animation: blink1 5s linear infinite;
}

@-webkit-keyframes blink1 {
  20% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  80% { color: rgba(34, 34, 34, 1); }
}
@keyframes blink1 {
  20% { color: rgba(34, 34, 34, 1); }
  50% { color: rgba(34, 34, 34, 0); }
  80% { color: rgba(34, 34, 34, 1); }
}

.content__hex h2 {
   font-size: 1.8rem;
   margin-top: 8vh;
   margin-bottom: 3vh;
}

a.button{
  background: #ECECEC;
  border-radius: 15px;
  padding: 10px 20px;
  display: block;
  font-family: "Manrope-Medium";
  font-weight: bold;
  color:#7f7f7f;
  text-decoration: none;
  text-shadow:0px 1px 0px #fff;
  border:1px solid #a7a7a7;
  width: 145px;
  margin:0px auto;
  box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition:box-shadow 0.5s;
}
a.button img{
  float: right;
  margin-top: -4px;
  color: #7f7f7f !important;
}
a.button:hover{
  box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
}
a.button:active{
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
  background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}